.u-pageInner.is-alert .u-lHeader
{
    position:relative;
    z-index:10;
}

.is-alert body
{
     background: none;
}

.is-alert .PageContent
{
     background:#000 url(/assets/images/css/bg-home.jpg) no-repeat top center;
}

.g-:not(.is-alert) .u-lFooter
{
     padding-top: 7.65em !important;
}
 