/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* that shorthand left in for backwards compatibility */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Mobile search colors
	-------------------- */
/* this color needs to match the hard-coded value of the input border found in modules/search.scss */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* This value is found in the nav module but I don't know what it does - maybe remove it? */
/* The color of the space between search and menu */
/* Don't modify these */
a,
.Module__link,
.u-lAside a,
.u-VCard--site a,
.u-VCard--site .u-List__item a {
  text-decoration: none;
  border-bottom: 1px solid #e79457;
  padding-bottom: 0; }

a:visited {
  border-bottom: 1px solid #000; }

a:hover,
a:focus {
  border-bottom: 1px solid #000; }

a:active {
  border-bottom: 1px solid #A5738E; }

.u-VCard--site a:visited,
.u-VCard--site .u-List__item a:visited {
  border-bottom: 1px solid #e79457; }

.u-VCard--site a:hover,
.u-VCard--site .u-List__item a:hover,
.u-VCard--site a:focus,
.u-VCard--site .u-List__item a:focus {
  border-bottom: 1px solid #000; }

.u-VCard--site a:active,
.u-VCard--site .u-List__item a:active {
  border-bottom: 1px solid #A5738E; }

.u-ArticleListItem__link:hover,
.u-ArticleListItem__link:focus,
.u-ArticleListItem__link:active,
.u-ArticleListItem__link:visited,
.u-ArticleNavGroup__navButton:hover,
.u-ArticleNavGroup__navButton:focus,
.u-ArticleNavGroup__navButton:active,
.u-ArticleNavGroup__navButton:visited,
.icon-close:hover,
.icon-close:focus,
.icon-close:active,
.icon-close:visited,
.u-Search__button:hover,
.u-Search__button:focus,
.u-Search__button:active,
.u-Search__button:visited,
.ac-NavAnchor--menu:hover,
.ac-NavAnchor--menu:focus,
.ac-NavAnchor--menu:active,
.ac-NavAnchor--menu:visited,
.u-NavSite__item:hover,
.u-NavSite__item:focus,
.u-NavSite__item:active,
.u-NavSite__item:visited,
.u-Masthead__siteName--link:hover,
.u-Masthead__siteName--link:focus,
.u-Masthead__siteName--link:active,
.u-Masthead__siteName--link:visited,
.u-Masthead__vassar--link:hover,
.u-Masthead__vassar--link:focus,
.u-Masthead__vassar--link:active,
.u-Masthead__vassar--link:visited {
  border-bottom: none; }

.u-Masthead__siteName--link {
  color: #000; }
  .u-Masthead__siteName--link:visited {
    color: #000; }
  .u-Masthead__siteName--link:focus {
    color: #000; }
  .u-Masthead__siteName--link:hover {
    color: #e79457; }
  .u-Masthead__siteName--link:active {
    color: #A5738E; }

.icon-close svg {
  fill: #fff; }

.icon-close:visited svg {
  fill: #fff; }

.icon-close:focus svg {
  fill: #e79457; }

.icon-close:hover svg {
  fill: #e79457; }

.icon-close:active svg {
  fill: #A5738E; }

.u-Search__field {
  border: 8px solid #000; }

html.u-pageHome {
  background: #000 url(../); }

html.u-pageInner {
  background: #fff url(../images/css/bg-interior.jpg) repeat-x top center; }

body {
  position: relative; }

.u-lMain,
.u-lContent,
.u-lAside,
.u-NavSite,
.u-lFooter {
  position: relative;
  z-index: 10; }

.u-pageHome body {
  background: #fff url(../images/css/bg-home.jpg) no-repeat top center; }
.u-pageHome .u-lHeader {
  padding-bottom: 0; }
.u-pageHome .u-NavSite__level--1 {
  border-right: none; }
.u-pageHome .Module--sidebar {
  background-color: #F8F8F8; }

.u-pageInner body:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 10.5em;
  bottom: 0;
  width: 100%;
  z-index: 1; }
.u-pageInner .u-lHeader {
  border-top: .65em solid; }
.u-pageInner .u-lFooter {
  background: #000 url(../images/css/bg-footer-interior.jpg) no-repeat top right;
  height: 190px;
  overflow: visible;
  padding: 40px 40px 0 40px; }

.Module__header {
  color: #e79457; }

.u-VCard--site {
  color: #f0ede8; }
  .u-VCard--site a,
  .u-VCard--site .u-List__item a {
    color: #e79457; }
    .u-VCard--site a:visited,
    .u-VCard--site .u-List__item a:visited {
      color: #e79457; }
    .u-VCard--site a:focus,
    .u-VCard--site .u-List__item a:focus {
      color: #fff; }
    .u-VCard--site a:hover,
    .u-VCard--site .u-List__item a:hover {
      color: #fff; }
    .u-VCard--site a:active,
    .u-VCard--site .u-List__item a:active {
      color: #A5738E; }

.Module--sidebar {
  background-color: #f0ede8; }

.u-Search {
  border: 1px solid #887878; }

.learn-more {
  display: inline-block; }
  .learn-more a {
    border-bottom: none;
    padding: 0 .5em .25em;
    color: #fff;
    background: #e79457; }
    .learn-more a:visited {
      color: #fff; }
    .learn-more a:focus {
      color: #fff; }
    .learn-more a:hover {
      color: #fff; }
    .learn-more a:active {
      color: #fff; }
    .learn-more a:visited {
      background: #e79457; }
    .learn-more a:focus {
      background: #000; }
    .learn-more a:hover {
      background: #000; }
    .learn-more a:active {
      background: #A5738E; }

.u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item,
.u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent {
  color: #e79457;
  background: transparent; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:visited,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited {
    color: #e79457; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:focus,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus {
    color: #fff; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:hover,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover {
    color: #fff; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:active,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active {
    color: #A5738E; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:visited,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited {
    background: transparent; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:focus,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus {
    background: transparent; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:hover,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover {
    background: transparent; }
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:active,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active {
    background: transparent; }

@media all and (min-width: 37.5em) {
  .u-Search__field {
    border: none; }

  .u-Masthead__vassar--link {
    color: #000; }
    .u-Masthead__vassar--link:visited {
      color: #000; }
    .u-Masthead__vassar--link:focus {
      color: #000; }
    .u-Masthead__vassar--link:hover {
      color: #e79457; }
    .u-Masthead__vassar--link:active {
      color: #A5738E; }

  .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item {
    background: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:visited {
      background: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:focus {
      background: #6e6e6e; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:hover {
      background: #6e6e6e; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:active {
      background: #6e6e6e; }

  .u-NavSite__level--1 {
    border-right: 1px solid #D2C1A6; }

  .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent,
  .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item {
    color: #fff;
    background: #e79457; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:visited {
      color: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:focus {
      color: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:hover {
      color: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:active {
      color: #fff; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:visited {
      background: #e79457; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:focus {
      background: #e79457; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:hover {
      background: #e79457; }
    .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active,
    .u-NavSite__level--1 > .u-NavSite__itemContainer.u-NavSite__item--isOpen > .u-NavSite__item:active {
      background: #e79457; }

  .u-NavSite__level--2 {
    border-right: 2px solid #e79457; }
    .u-NavSite__level--2 .u-NavSite__item {
      color: #6e6e6e; }
      .u-NavSite__level--2 .u-NavSite__item:visited {
        color: #6e6e6e; }
      .u-NavSite__level--2 .u-NavSite__item:focus {
        color: #000; }
      .u-NavSite__level--2 .u-NavSite__item:hover {
        color: #000; }
      .u-NavSite__level--2 .u-NavSite__item:active {
        color: #A5738E; }
    .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent {
      color: #e79457; }
      .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent:visited {
        color: #e79457; }
      .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent:focus {
        color: #e79457; }
      .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent:hover {
        color: #e79457; }
      .u-NavSite__level--2 .u-NavSite__item.u-NavSite__item--isCurrent:active {
        color: #e79457; }

  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item,
  .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent {
    color: #000;
    background: transparent; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:visited,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited {
      color: #000; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:focus,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus {
      color: #000; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:hover,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover {
      color: #000; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:active,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active {
      color: #000; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:visited,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:visited {
      background: transparent; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:focus,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:focus {
      background: #e79457; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:hover,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:hover {
      background: #e79457; }
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item:active,
    .u-pageHome .u-NavSite__level--1 > .u-NavSite__itemContainer > .u-NavSite__item.u-NavSite__item--isCurrent:active {
      background: #e79457; }

  body:after {
    top: 9.5em; } }
@media all and (min-width: 50em) {
  .u-pageInner body:after {
    top: 12.5em; }

  body:after {
    top: 10.5em; } }
@media all and (min-width: 62.5em) {
  .u-pageHome .Module--sidebar {
    background-color: transparent; }

  body:after {
    top: 13em; } }
