/*	CONFIG
	====== */
/*	TYPOGRAPHY
	========== */
/*	LAYOUT
	====== */
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/* The padding on u-lHeader, u-lMain, u-lFooter, and u-NavSite. */
/* COLOR
	====== */
/* Basic link colors - these colors also affect the Google Search result link colors */
/* MODULES
	======== */
/* Bios */
/* Breadcrumbs  */
/* Footer */
/* Images */
/*	Google search results  */
/* Currently being overridden by something in Google's default CSS */
/* The numbers that represent pages of search results */
/* Nav */
/* level 3 covers Level 3 and up. */
/* LATEST Modules basic */
/* that shorthand left in for backwards compatibility */
/* Use these variables to place a bg color on side news announcement items */
/* News  */
/* Not sure all these color settings are necessary
$u-ArticleListItem__label--type--color:;
$u-ArticleListItem__label--dateline__posted--color:;
$u-ArticleListItem__label--dateline__postedDate--color:f; */
/* LATEST Moved to Module Basic above
$u-NewsList__itemContainer--margin: 1em 0;
$u-NewsList__item--background: transparent;
$u-NewsList__item--padding: 0; */
/*	Search
	------ */
/*	Mobile search colors
	-------------------- */
/* this color needs to match the hard-coded value of the input border found in modules/search.scss */
/*	Up until this point, the search box will be positioned
	over the masthead, so as not to overlap it. This point
	depends on how wide the site masthead is. Keep increasing it
	until the search box no longer overlaps the masthead.
*/
/*	Mobile search and menu colors
	----------------------------- */
/* The background color of a button, when activated */
/* The background of the "Vassar College" area */
/* The background of the search and menu buttons */
/* This value is found in the nav module but I don't know what it does - maybe remove it? */
/* The color of the space between search and menu */
/* Don't modify these */
/*	TYPOGRAPHY
	========== */
/* Elements */
html {
  font-family: "museo-sans"; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: .4em;
  padding-top: .8em;
  font-family: "museo-sans";
  font-weight: 900;
  text-transform: uppercase; }

.u-lContent h1:nth-of-type(1), .u-lAside h1:nth-of-type(1),
.u-lContent h2:nth-of-type(1), .u-lAside h2:nth-of-type(1),
.u-lContent h3:nth-of-type(1), .u-lAside h3:nth-of-type(1),
.u-lContent h4:nth-of-type(1), .u-lAside h4:nth-of-type(1),
.u-lContent h5:nth-of-type(1), .u-lAside h5:nth-of-type(1),
.u-lContent h6:nth-of-type(1), .u-lAside h6:nth-of-type(1) {
  padding-top: 0; }

h1 {
  font-size: 1.95em; }

h2 {
  font-size: 1.43em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

.u-lContent {
  font-size: 19.12px;
  font-size: 1.195rem;
  font-family: "ff-tisa-web-pro";
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.25em; }

p {
  margin-top: 0; }

h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul, h1 + ol, h2 + ol, h3 + ol, h4 + ol, h5 + ol, h6 + ol {
  margin-top: 0; }

th {
  font-weight: 700; }

td {
  font-weight: 400; }

li {
  margin: 0 0 0.327em; }

/* Main page content */
.u-lMain {
  font-size: 100%; }

.u-pageTitle {
  margin-top: 0; }

/* u-lAside sidebar styles */
.u-lAside h1 {
  font-size: 1.953em; }
.u-lAside h2 {
  font-size: 1em; }
.u-lAside h3 {
  font-size: 1em; }
.u-lAside h4 {
  font-size: 1em; }
.u-lAside h5 {
  font-size: 1em; }
.u-lAside p,
.u-lAside ol,
.u-lAside ul {
  font-size: 1.195em;
  font-weight: 400; }
.u-lAside li {
  margin-bottom: 0.327em;
  line-height: 1.2; }

.u-SiteMap__level {
  margin: .5em 0; }

.u-Masthead__siteName,
.u-Masthead__vassar {
  padding: 0;
  margin-bottom: 0; }

.u-NavSite__level--1 .u-NavSite__item {
  text-transform: uppercase; }

.Module__name {
  font-weight: 700;
  text-transform: capitalize; }

@media all and (min-width: 25em) {
  .u-lMain {
    font-size: 110%; }

  p {
    line-height: 1.5; }

  .u-lAside p,
  .u-lAside ol,
  .u-lAside ul {
    font-size: 0.956em; } }
.Module--contact .Module__listItem {
  border-top: none;
  padding: 0; }
.Module--contact dl:nth-child(2).Module__listItem,
.Module--contact dl:nth-child(4).Module__listItem {
  padding-top: .3em; }
.Module--contact .Module__name {
  padding-bottom: .4em; }

.u-VCard--site .u-VCard__url {
  margin-bottom: 1em;
  display: inline-block; }
.u-VCard--site .u-VCard__adr {
  margin-bottom: .2em; }
.u-VCard--site .u-VCard__info,
.u-VCard--site .u-List--site {
  margin: 0 0 .6em; }

.u-Masthead__siteName {
  font-size: 3.5em; }

@media all and (min-width: 37.5em) {
  .u-VCard--site {
    text-align: left; }

  .u-pageHome .u-Masthead__siteName {
    font-size: 5em; }

  .u-Masthead__vassar {
    font-weight: 700;
    padding-left: .5em; } }
@media all and (min-width: 50em) {
  .u-VCard--site {
    text-align: left; }

  .u-pageHome .u-Masthead__siteName {
    font-size: 7.5em; } }
